parameters:
    level: 4
    paths:
        - src
    excludePaths:
        - */node_modules/*
        - */bower_components/*
        - */static/*
    ignoreErrors:
        - '#Doctrine\\Persistence\\ObjectRepository#'
        - '#Call to an undefined method RZ\\Roadiz\\UserBundle\\Repository#'
        - '#Call to an undefined method Doctrine\\Persistence\\ObjectRepository#'
        - '#Call to an undefined method Doctrine\\Persistence\\ObjectManager#'
        - '#Call to an undefined method Doctrine\\ORM\\EntityRepository#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::#'
        # @see https://github.com/phpstan/phpstan/issues/1066
        - '#Psr\\Cache\\InvalidArgumentException is not subtype of Throwable#'
        # PHPStan Doctrine does not support ResolveTargetEntityListener
        - '#Property ([a-zA-Z\\\:\$]+) type mapping mismatch: property can contain ([a-zA-Z\\\&\>\<]+)Interface\>?\|null but database expects ([a-zA-Z\\\&\>\<]+)\|null#'
        - '#Property ([a-zA-Z\\\:\$]+) type mapping mismatch: property can contain ([a-zA-Z\\\&\>\<]+)Interface\>? but database expects ([a-zA-Z\\\&\>\<]+)#'
        - '#type mapping mismatch: database can contain array\|bool\|float\|int\|JsonSerializable\|stdClass\|string\|null but property expects array\|null#'

    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    doctrine:
        repositoryClass: RZ\Roadiz\CoreBundle\Repository\EntityRepository
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
